body{
  font-size:16px;
  color:#fff;
  background-color:#61122f;
  font-family:'Oxygen',sans-serif;
}
/**HEADER**/
#header-nav{
  background-color:#f6b319;
  border-radius:0;
  border:0;
}
#logo-img{
  background-image: url('../Images/Carefree-Restaurant-Assoc-logo-WEB-225px.png') no-repeat;
  width:250px;
  height:250px;
  margin:10px 15px 10px 0;
}
