body{
  font-size:16px;
  color:#fff;
  background-color:#61122f;
  font-family:'Oxygen',sans-serif;
}
/**HEADER**/
#header-nav{
  background-color:#f6b319;
  border-radius:0;
  border:0;
}
#logo-img{
  background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.hiclipart.com%2Ffree-transparent-background-png-clipart-ycqom&psig=AOvVaw3-1ut83uPXIeqD6Ixb2hf-&ust=1602582437110000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKid2oXjruwCFQAAAAAdAAAAABAD) no-repeat;
  width:150px;
  height:150px;
  margin:10px 15px 10px 0;
}
