body{
  font-size:16px;
  color:#fff;
  background-color:#61122f;
  font-family:'Oxygen',sans-serif;
}
/**HEADER**/
#header-nav{
  background-color:#f6b319;
  border-radius:0;
  border:0;
}
#logo-img{
  background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngguru.com%2Ffree-transparent-background-png-clipart-njoiv&psig=AOvVaw3k0E9z5M0DAY9lxKGP79uK&ust=1599836470402000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIjRhr3t3usCFQAAAAAdAAAAABAF) no-repeat;
  width:150px;
  height:150px;
  margin:10px 15px 10px 0;
}
